<section class=”weather”>
  <div class=”container”>
    <div class=”forecast”>
      <ol>
      <% @forecast.each do |forecast| %>
       <p><%= forecast.date %></p>
        <li>Weather: <%= forecast.weather %>&deg;</li>
        <li>High: <%= forecast.high %></li>
        <li>Low: <%= forecast.low %></li>
      <%= end %>

      </ol>
    </div>
  </div>
</section>
