
<div class='weather'>
  <% if current_user.zip%>
  <ul>
    <h2>Weather Forecast</h2>
  <% @forecast.each do |forecast| %>
   <p ><%= forecast.date %></p>
    <li>Weather: <%= forecast.weather %></li>
    <li>High: <%= forecast.high %>&deg; F</li>
    <li>Low: <%= forecast.low %>&deg; F</li>
  <% end %>
  </ul>
  </div>
  <div class='frost-dates'>
    <p>Fall frost date: <%= Date::MONTHNAMES[@fall.date[0..1].to_i] %> <%= @fall.date[2..3] %>, temperature <%= @fall.temperature_threshold %>&deg; F</p>
    <p>Spring frost date: <%= Date::MONTHNAMES[@spring.date[0..1].to_i] %> <%= @spring.date[2..3] %>, temperature <%= @spring.temperature_threshold %>&deg; F</p>
  </div>
<% else %>
  <%= form_with url: "/users/#{current_user.user_id}", method: :patch, html: { class: 'zip-form' }, local: true do |f| %>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
    <%= f.submit "Submit" %>
  <% end %>

<% end %>

  <div class='plants'>
  <dl>
    <h2>My Plants!</h2>
  <% @plants.each do |plant| %>
    <div class='plant-count'>
   <dt>Plant: <%= plant.name %></dt>
    <dd>Frost Date: <%= plant.frost_date%></dd>
    <dd>Maturity: <%= plant.maturity%>&deg; F</dd><br>
    </div>
  <% end %>
  </dl>
  <%= link_to "Explore Plants", plants_path, method: :get %>
  </div>
