<div class="container-fluid bg-dark">
  <nav class="navbar navbar-dark bg-dark">
    <div class ="mx-auto">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link link-success fs-3" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success fs-3" href="/plants">Plant Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-success fs-3">Plant Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success fs-3" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container-fluid bg-dark">
  <% flash.each do |name, msg|%>
    <div class="alert alert-success" role="alert">
      <%= content_tag :div, msg, class: name %>
    </div>
  <% end %>
  <section id="plant-details">
    <div class="card text-center border-dark">
      <div class="card-header text-white bg-success">
          <h4><%= @plant.name %></h4>
      </div>
      <div class="card-body">
        <p class="card-text">
          Safe planting time from frost date: <%= @plant.frost_date%> days<br>
          Days to maturity: <%= @plant.maturity%>
          <%= button_to 'Add to my plants', "/users/#{current_user.user_id}/plants", method: :post, params: {plant_id: @plant.id, user_id: current_user.user_id} %><br>
        </p>
      </div>
    </div>
  </section>
</div>
