<!DOCTYPE html>
<html>
  <head>
    <title>Garden Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid bg-dark">
      <img src="https://user-images.githubusercontent.com/88950699/156276694-1cf205c3-8e83-4fb9-a0ab-4ca1da748312.jpeg" class="img-fluid rounded mx-auto d-block" alt="Garden Manager">
    </div>
    <%= yield %>
  </body>
</html>
